<!DOCTYPE html>
<html>

<head>
    <title> LESSONS</title>
    <!-- <script src="./vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app">
        <!-- Header -->
        <div class="container">
            <header>
                <h1 v-text="sitename"></h1>
                <button v-if="cart.length > 0" @click='showCheckout'> {{cart.length}} <span
                        class="fas fa-cart-plus"></span>Checkout</button>
            </header>
        </div>
        <hr>
        <!-- Body -->
        <div class="container">
            <div class="root">
                <aside>
                    <h4>Filter by</h4>
                    <ul>
                        <li><button @click="type = 'subject'">Subject</button></li>
                        <li><button @click="type = 'location'">Location</button></li>
                        <li><button @click="type = 'price'">Price</button></li>
                    </ul>
                </aside>
                <main>
                    <div v-if='!showProduct'>
                        <div class="title-bar">
                            
                            
                        </div>
                        
                        <div class="lessons">
                            <div v-for="(lessons, index) in sortedLessons" :key="`lesson--${index}`"
                                class="lessons__item">
                                <h2>Lesson{{lessons.id}}</h2>
                                <figure><img v-bind:src="lessons.image"></figure>
                                <p>Subject: {{ lessons.subject }}</p>
                                <p>Location: {{ lessons.location }}</p>
                                <p>Price: {{ lessons.price }}</p>
                                <p>Spaces: {{lessons.availableInventory}}</p>
                                <button v-on:click='addToCart(lessons)' :disabled="!lessons.availableInventory">Add to
                                    cart</button>
                                <span v-if="lessons.availableInventory">{{'Left '+ lessons.availableInventory}}</span>
                                <span v-else>All out!</span>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="container">
                            <div class="title-bar">
                                <button @click="showCheckout"><span class="fas fa-chevron-left"></span> Home</button>
                                <h4>Total Amount: {{total}}</h4>
                            </div>
                            <h4>Item List</h4>
                            <div class="cart">
                                <div class="cart__item">
                                    <div style="width: auto;">Image</div>
                                    <div>Subject</div>
                                    <div>Location</div>
                                    <div>Price</div>
                                    <div style="width: auto;">Add/Remove</div>
                                </div>
                                <hr style="width: 100%">
                                <div class="cart__item" v-for="(item, index) in cart" :key="`cart--${index}`">
                                    <div style="width: auto;"><img :src="item.image" alt=""></div>
                                    <div>{{item.subject}}</div>
                                    <div>{{item.location}}</div>
                                    <div>{{item.price}}</div>
                                    <div style="width: auto;"><button @click="removeToCart(item)"><i style="color:red;"
                                                class="fa fa-minus" aria-hidden="true"></i></button></div>
                                </div>
                                <div v-if="!cart.length > 0" class="cart__item"
                                    style="background-color: transparent; padding: 20px;">
                                    <div style="text-align: center; color: gray; font-size: 20px; font-weight: bold;">
                                        List Empty</div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h3>User Info</h3>
                                <form @submit.prevent="submit">
                                    <div>
                                        <label for="name">Name:</label>
                                        <input v-model="user.name" type="text" required>
                                    </div>
                                    <div>
                                        <label for="name">Phone:</label>
                                        <input v-model="user.number" type="tel" required>
                                    </div>
                                    <input type="submit" value="Checkout">
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <!-- JS Files -->
    <script src="./product.js"></script>
    <script src="./vue.js">

    </script>
</body>

</html>
